.login {
  position: fixed;
  top: 50%;
}

#login-form input {
  font-size: 24px;
  font-weight: 600;
  text-align: center;
}

.hello {
  padding-top: 100px;
}

#greeting {
  font-size: 56px;
  font-weight: 600;
  color: var(--grey);
  text-align: center;
  padding-bottom: 25px;
  animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
